<%= simple_form_for(@quantity, @user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= f.hidden_field :floss_id, required: true, value:floss.id %>
    <%= f.input :quantity, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>